.vs
Commons/obj
Commons/bin/Debug/*.pdb

Model/obj
Model/bin/Debug/*.pdb

Presenter/obj
Presenter/bin/Debug/*.pdb

ServerService/obj
ServerService/bin/Debug/*.pdb

Server/obj
Server/bin/Debug/net8.0/*.pdb

View/obj
View/bin/Debug/*.pdb

MediaPlayer/.vs
MediaPlayer/obj
MediaPlayer/bin/Debug/*.pdb
MediaPlayer/bin/Debug/*.exe
MediaPlayer/bin/Debug/*.exe.config
